<div class="form-group">
    <label for="rollGroupInitiative">
        {{localize 'COMBAT.RollGroupInitiative'}}
    </label>
    <input type="checkbox" name="rollGroupInitiative" id="rollGroupInitiative" {{checked rollGroupInitiative}}
        data-dtype="Boolean" />
    <p class="notes">
        {{localize 'COMBAT.RollGroupInitiativeHint'}}
    </p>

    <label for="skipGrouped">
        {{localize 'COMBAT.SkipGrouped'}}
    </label>
    <input type="checkbox" name="skipGrouped" id="skipGrouped" {{checked skipGrouped}} data-dtype="Boolean" />
    <p class="notes">
        {{localize 'COMBAT.SkipGroupedHint'}}
    </p>
</div>