<style>
    details>summary { 
        list-style: none;
    }

    summary::-webkit-details-marker {
        display: none
    }

    summary::after {
        content: ' ►';
        position: absolute;
        right: 47px;
        margin-top: -34px;
    }

    details[open] summary:after {
        content: ' ▼';
        position: absolute;
        right: 47px;
        margin-top: -34px;
    }
</style>


<summary>
    <li class="combatant actor directory-item flexrow">
        <img class="token-image" src="{{ CombatantImage }}" title="{{ CombatantName }}">
        <div class="token-name flexcol">
            <h4>{{ CombatantName }}</h4>
        </div>
        <div class="token-initiative">
            <span class="initiative">{{ CombatantInitiative }}</span>
        </div>
    </li>
</summary>